<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon_io-4/favicon-32x32.png" tyep="image/x-icon">
    <meta name="description" content="Buy quality vegetable and flower seeds. Grow your own fruit, vegetables and flowers with us">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" media="screen and (max-width:768px)" href="./css/mobile.css">
    <meta name="keywords" content="seeds, organic, uk, england">
    <title>About</title>
</head>

<body>
    <header>
        <nav id="navbar">
            <div class="container">
                <h1 class="logo"><a href="/">SB</a></h1>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a class="current" href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>

                </ul>
            </div>
        </nav>
        </div>

    </header>

    <section id="about-info" class="bg-light py-3">
        <div class="container">
            <div class="info-left">
                <h1 class="l-heading"><span class="text-primary">About</span> SeedBearer</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni soluta itaque ipsa! In magni nihil sunt maiores accusamus eveniet, incidunt ea itaque eos non ipsa provident repudiandae. Explicabo, autem nulla.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nisi cupiditate inventore vitae. Numquam suscipit commodi aliquam nulla distinctio quae?</p>

            </div>
            <div class="info-right">
                <img src="img/flower.jpeg" alt="seedbearer">
            </div>
        </div>
    </section>

    <div class="clr"></div>

    <section id="testimonials" class="py-3">
        <div class="container">
            <h2 class="l-heading">What our Clients say</h2>
            <div class="testimonial bg-primary">
                <img src="img/person-1.jpg" alt="girl1">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet nesciunt, voluptate iusto minima rem velit quidem, tenetur sequi, molestiae reiciendis ducimus. Laborum accusantium distinctio natus quo quia ex, asperiores atque odio mollitia
                    nihil error modi dignissimos, consequatur similique soluta consectetur?</p>
            </div>
            <div class="testimonial bg-primary">
                <img src="img/person2.jpg" alt="girl2">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet nesciunt, voluptate iusto minima rem velit quidem, tenetur sequi, molestiae reiciendis ducimus. Laborum accusantium distinctio natus quo quia ex, asperiores atque odio mollitia
                    nihil error modi dignissimos, consequatur similique soluta consectetur?</p>
            </div>
        </div>
    </section>




    <footer id="main-footer">
        <p>SeadBearer &copy; 2021 All Rights Reserved</p>

    </footer>

</body>

</html>