<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/error.css">

    <title>Error</title>
</head>

<body>
    <div class="container">
        <img src="/img/sadEmoji.png" alt="Sad Face">
        <h1>Page Not Found</h1>
        <a href="/">Go back to Main</a>
    </div>
</body>

</html>